# Dependencies
node_modules/
jspm_packages/
web_modules/

# Next.js Build and Cache
.next/
out/
build/

# Python Virtual Environments & Cache
venv/
.venv/
env/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Local Environment Configs
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System Files
.DS_Store
Thumbs.db
